{% macro certificateCollection(certificateField) %}
<div class="row">
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.certifyingOrganization, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.name, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.dateObtained, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.registrationNumber, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.instructorName, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        <div class="input-group">
            {{ form_row(certificateField.instructorRegistrationNumber, {label:false}) }}
            <div class="input-group-btn">
                <button class="btn btn-danger btn-remove" type="button" > <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
            </div>
        </div>
    </div>
</div>
{%  endmacro certificateCollection %}
