{% macro certificateCollection(certificateField) %}
<div class="row">
    <div id="education_fields">

    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-group">
            {{ form_widget(certificateField.certifyingOrganization) }}
        </div>
    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-group">
            {{ form_widget(certificateField.name) }}
        </div>
    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-group">
            {{ form_widget(certificateField.dateObtained) }}
        </div>
    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-group">
            {{ form_widget(certificateField.registrationNumber) }}
        </div>
    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-group">
            {{ form_widget(certificateField.instructorName) }}
        </div>
    </div>

    <div class="col-sm-2 nopadding">
        <div class="form-group">
            <div class="input-group">
                {{ form_widget(certificateField.instructorRegistrationNumber) }}
                {#{% if var is defined %}#}
                    <div class="input-group-btn">
                        <button class="btn btn-success" onclick="education_fields();" type="button" id="btn_remove"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
                    </div>
                {#{% endif %}#}
            </div>
        </div>
    </div>
</div>
{%  endmacro certificateCollection %}
<div class="clear"></div>