{% macro certificateCollection(certificateField) %}
<div class="row">
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.certifyingOrganization, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.name, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.dateObtained, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.registrationNumber, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        {{ form_row(certificateField.instructorName, {label:false}) }}
    </div>
    <div class="col-sm-2 nopadding">
        <div class="input-group">
            {{ form_row(certificateField.instructorRegistrationNumber, {label:false}) }}
            <div class="input-group-btn">
                <button class="btn btn-danger btn-remove" type="button" > <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
            </div>
        </div>
    </div>
</div>
{%  endmacro certificateCollection %}

{% macro specialtyCollection(specialtyField) %}
    <div class="row">
        <div class="col-sm-2 nopadding">
            {{ form_row(specialtyField.certifyingOrganization, {label:false}) }}
        </div>
        <div class="col-sm-2 nopadding">
            {{ form_row(specialtyField.name, {label:false}) }}
        </div>
        <div class="col-sm-2 nopadding">
            {{ form_row(specialtyField.dateObtained, {label:false}) }}
        </div>
        <div class="col-sm-2 nopadding">
            {{ form_row(specialtyField.registrationNumber, {label:false}) }}
        </div>
        <div class="col-sm-2 nopadding">
            {{ form_row(specialtyField.instructorName, {label:false}) }}
        </div>
        <div class="col-sm-2 nopadding">
            <div class="input-group">
                {{ form_row(specialtyField.instructorRegistrationNumber, {label:false}) }}
                <div class="input-group-btn">
                    <button class="btn btn-danger btn-remove-specialty" type="button" > <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
                </div>
            </div>
        </div>
    </div>
{%  endmacro specialtyCollection %}

{% macro equipmentCollection(equipmentField) %}
    <div class="row">
        <div class="col-sm-2 nopadding">
            {{ form_row(equipmentField.type, {label:false}) }}
        </div>
        <div class="col-sm-3 nopadding">
            {{ form_row(equipmentField.brand, {label:false}) }}
        </div>
        <div class="col-sm-3 nopadding">
            {{ form_row(equipmentField.brandType, {label:false}) }}
        </div>
        <div class="col-sm-4 nopadding">
            <div class="input-group">
                {{ form_row(equipmentField.description, {label:false}) }}
                <div class="input-group-btn">
                    <button class="btn btn-danger btn-remove-equipment" type="button" > <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>
                </div>
            </div>
        </div>
    </div>
{%  endmacro equipmentCollection %}
