{% extends 'layout.html.twig' %}
{#{% import 'AppBundle:diver:macros.html.twig' as macros %}#}

{% block title %}Dive log{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <h1 class="page-header">Dive log {{ fullname }}</h1>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Location details
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#logDetails">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="logDetails" class="panel-body collapse in">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    {{ form_row(form.number) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.date) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.timein) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.timeout) }}
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    {{ form_row(form.country) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.location) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    <label>Range (NM)</label>
                                    <div class="form-group input-group">
                                        <input type="text" id="range" name="range" class="form-control" placeholder="25">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-search-dive-sites" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.diveSite) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.lat) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-2">
                                    <label>Longitude</label>
                                    <div class="form-group input-group">
                                        {{ form_row(form.lng) }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-clear-result" type="button">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-show-map" type="button">
                                                <i class="fa fa-map"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div id="diveSites"></div>
                                    <div id="map"></div>
                                    <script async defer
                                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT-CLMr_COsA468D__GmKMSX9S7u-UNpE">
                                    </script>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group input-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Environment conditions
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#weather">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="weather" class="panel-body collapse">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-1">
                                    {{ form_row(form.airtemperature) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.watertemperature) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.altitude) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.visibility) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.tank) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.tanksize) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.weight) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.airpressurestart) }}
                                    <p class="help-block"></p>
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.airpressureend) }}
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    {#{{ form_row(form.environment) }}#}
                                </div>
                                <div class="col-xs-2">
                                    {#{{ form_row(form.tide) }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" >
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-9">
                                <a href="{{ path('dive_log_list', {'id' : diver_id}) }}" class="btn btn-default" >Cancel</a>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}

